
.search-bar {
    display: flex;
    padding-left: 500px;
}

.search-bar select,
.search-bar input[type="search"],
.search-bar .search-button {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #ddd;

}

.search-bar-menu{
    display: flex;
    background-color: #ddd;
    height: 50px;
    width: 400px;
    box-shadow: 1px 1px 1px #ddd;

}



.shop__content {
   max-width: 1200px;
   margin: auto 0;

}

.shop__content-item{
    width: 300px;
    margin: 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.shop__img img {
    width: 100%;
}




.shop-detail {
    padding: 5px 10px;
    background: #008888;
    margin-bottom: 15px;
    margin-top: 15px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    /* 要素の文字数に応じて幅が変更されるためにinline-blockを指定 */
    color: #fff;
    font-size: 14px;
}

/* .shop__content-item {
    margin-left: 100px;
} */


.shop__card {
    margin-left: 20px;
    margin-bottom: 10px;
}

.shop__card-name {
    font-weight: bold;
}


.shop__content-tag {
    
    display: flex;
    /* 親要素にtext-alignを適用すると子要素のinline-block要素に適応される */
}



.shop__content-tag-item {
    display: inline-block;
    /* 横並びにするためにinline-blockを指定 */
    color: black;
}

.shop__content-tag-item--last {
    display: inline-block;
    /* 横並びにするためにinline-blockを指定 */
    margin-left: 20px;
    color: black;
}
